* {
	margin: 0;
	padding: 0;
}

.content-title {
	margin-left: -30px;
}

.content-title img {
	width: 25%;
}

.card {
	border-radius: 10px;
}

.card-image {
	overflow: hidden;
	width: 350px;
}

.card-image img {
	transition: transform 1s ease;
}

.card-image img:hover {
	transform: scale(1.1);
}
